In [1]:
import sys 
import keyword 
import operator 
from datetime import datetime 
import os

## 1. Key words

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

## 2. identifiers

In [4]:
var = 5 # right

In [5]:
def greet(): # right
    print("hello")

In [6]:
# 1. identifier can't start with a number but it can contains a number init
1var =6 # wrong

SyntaxError: invalid decimal literal (578531350.py, line 2)

In [7]:
var1 = 6 # right

In [8]:
#2 . identifier can't contain special charactors except _
var@ = 7 # wrong

SyntaxError: invalid syntax (1812284294.py, line 2)

In [9]:
var_ =8 # right

In [10]:
_var = 6 # right

In [11]:
print(_var)

6

In [12]:
# 3. identifier can't name like python reserved keywords 
def = 6 # wrong

SyntaxError: invalid syntax (2414031247.py, line 2)

In [17]:
def_1 = 6 # right

## 4. Comments

In [18]:
# single line comment 
# hear var has been assined with value 25
var = 25

In [19]:
""" this is a multiline comment 
and hear i am printing the value of var
this will print the value of var """ 
print(var)

25

## 5. Statements

In [20]:
a = 25 # sinfle line statement
print(a)

25

In [21]:
b = [1,2,3,5,6]
print(b)

[1, 2, 3, 5, 6]

In [22]:
a = 25+32+8\
+22\
+10 # multiline statement
print(a)

97

In [23]:
b = [1,2, 
     3,4,
     5,6,
     8,9,
     ]
print(b)

[1, 2, 3, 4, 5, 6, 8, 9]

## 6. Indentation

In [ ]:
p = 10

if p == 10: # correct indentation
    print("abc")
    print("p is equal to 10")

abc
p is equal to 10

In [ ]:
if p == 10: 
print("p is equal to 10") # incorrect indentation

p is equal to 10

In [ ]:
for i in range(1,5): #correct indentation
    print(i)

1
2
3
4

In [ ]:
for i in range(1,5): # incorrect indentation
    
print(i)

In [ ]:
for i in range(1,5): print(i) # correct indentation but less readable

1
2
3
4

In [50]:
j = 25
for i in range(0,5):
    pass # inside for loop
print(j) # out side the for loop

25

## 7. Docstring

In [44]:
def square(num):
    '''Squre Function :- this function will take a number and return it's square value'''
    return num**2

In [38]:
square(4)

16

In [45]:
square.__doc__

"Squre Function :- this function will take a number and return it's square value"

In [ ]:
print("hi")

In [39]:
print.__doc__

'Prints the values to a stream, or to sys.stdout by default.\n\n  sep\n    string inserted between values, default a space.\n  end\n    string appended after the last value, default a newline.\n  file\n    a file-like object (stream); defaults to the current sys.stdout.\n  flush\n    whether to forcibly flush the stream.'

## 8. Variables

In [74]:
a = 45
b = 30
c = a

In [70]:
hex(id(a))

'0x7ffdb13c0d58'

In [71]:
hex(id(c))

'0x7ffdb13c0d58'

In [72]:
hex(id(b))

'0x7ffdb13c0f38'

In [75]:
print(f"hi ravi you got incremant of {a} ")
print(f"hi suresh you got incremant of {b} ")
print(f"hi prsad you got incremant of {a} ")
print(f"hi rahul you got incremant of {a} ")
print(f"hi mani you got incremant of {a} ")

hi ravi you got incremant of 45
hi suresh you got incremant of 30
hi prsad you got incremant of 45
hi rahul you got incremant of 45
hi mani you got incremant of 45

In [77]:
x = 20

In [79]:
x = "hi"

In [80]:
type(x)

str